@font-face {
  font-family: "Outfit";
  src: url("/assets/Outfit/Outfit-VariableFont_wght.ttf") format("ttf");
  font-weight: 400 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --White: hsl(0, 0%, 100%);

  --Slate-300: hsl(212, 45%, 89%);
  --Slate-500: hsl(216, 15%, 48%);
  --Slate-900: hsl(218, 44%, 22%);

  --font-main: "Outfit", sans-serif;
  --paragraph-size: 15px;
  --font-heading-weight: 700;
  --font-paragraph-weight: 400;
}

body,
html {
  font-family: var(--font-main);
  background-color: var(--White);
  color: var(--Slate-900);
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  max-width: 1440px;
  margin: 0 auto;
}

.card {
  background-color: var(--White);
  border-radius: 15px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  max-width: 350px;
  text-align: center;
  padding: 20px;
  transition: transform 0.3s ease-in-out;
  padding-bottom: 40px;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 100%;
  border-radius: 15px;
  margin-bottom: 10px;
}

.card h1 {
  font-size: 24px;
  font-weight: var(--font-heading-weight);
  margin-bottom: 10px;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.card p {
  font-size: var(--paragraph-size);
  font-weight: var(--font-paragraph-weight);
  color: var(--Slate-500);
  margin-bottom: 20px;
  max-width: 250px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    max-width: 375px;
  }

  .card {
    max-width: 100%;
  }

  .card img {
    margin-bottom: 15px;
  }
}
